html {
    height: 100%;
    box-sizing: border-box;
}

body {
    background: var(--bg);
    color: var(--fontColor);
    margin: 0;
    position: relative;
    min-height: 100%;
}

h1 {
    text-align: center;
}


/* - SCROLLBAR - */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}




/* - Light and Dark themes - */
:root {
    --blue: rgb(15, 15, 37);
    --white: #FFFFFF;
    --black: #000000;
}

.btn {
    position: fixed;
    top: 1%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
    margin-left: 90%;
    box-shadow: var(--boxShadowBTN);
}

.light-theme {
    --bg: var(--white);
    --fontColor: var(--black);
    --btnBg: var(--blue);
    --btnFontColor: var(--white);
    --activeBg: var(--white);
    --liaHoverNotActive: whitesmoke;
    --aAboutMeColor: var(--black);
    --borderColorIndexBlock: var(--black);
    --boxShadowBTN: none;
}

.dark-mode {
    --bg: var(--blue);
    --fontColor: var(--white);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
    --activeBg: var(--blue);
    --liaColor: var(--white);
    --liaHoverNotActive: rgb(28, 28, 70);
    --aAboutMeColor: var(--white);
    --borderColorIndexBlock: var(--white);
    --boxShadowBTN: 0px 0px 15px whitesmoke;
}



/* - Navigation Bar - */
.ulMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(160, 160, 160);
    position: fixed;
    font-family: helvetica;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: var(--liaColor);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

li a:hover:not(.active) {
    background-color: var(--liaHoverNotActive);
}

.active {
    background-color: var(--activeBg);
}


/* - Footer - */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: helvetica;
    font-weight: bold;
    font-size: 10px;
}

hr {
    width: 95%;
}



/* - Index Page- */
.divIndexBlock {
    border: solid 0.3em;
    border-radius: 40px;
    border-color: var(--borderColorIndexBlock);
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 7%;
}

.gradient-background {
    background: linear-gradient(249deg, #00f1ff, #ff00db);
    background-size: 120% 120%;
    animation: gradient-animation 12s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}



/* - About Me Page - */
.imgIdentity {
    margin-left: 10%;
    width: 15%;
    margin-top: -5%;
    border-radius: 50%;
}

.pAboutMe {
    /*margin-left: 40%;*/
    font-family: arial;
    font-size: 20px;
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
}

.aAboutMe {
    text-decoration: none;
    color: var(--aAboutMeColor);
}

.divAboutBlockA {
    margin-left: 40%;
    font-size: 20px;
    font-family: Arial;
}

.divAboutBlock {
    border: solid 0.3em;
    border-radius: 40px;
    border-color: var(--borderColorIndexBlock);
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10%;
}

.parentDivAboutMeTable {
    text-align: center;
}

.divTableAboutMe1,
.divTableAboutMe2 {
    border: solid 0.3em;
    border-radius: 40px;
    border-color: var(--borderColorIndexBlock);
    margin-left: 3%;
    margin-right: 3%;
    display: inline-block;
    vertical-align: middle;
    width: 35%;
}

.pDiplomas {
    text-align: left;
    margin-left: 15%;
    font-family: Arial;
    font-size: 20px;
}


@media screen and (max-device-width:880px) {

    /* - Navigation Bar - */
    li a {
        display: block;
        color: var(--liaColor);
        text-align: center;
        padding: 14px 14px;
        text-decoration: none;
        font-size: auto;
    }

    /* - Button Dark Mode - */
    .btn {
        position: fixed;
        top: 7%;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        border: none;
        color: var(--btnFontColor);
        background-color: var(--btnBg);
        margin-left: 85%;
        box-shadow: var(--boxShadowBTN);
    }

    /* - Index Page- */
    .divIndexBlock {
        border: solid 0.3em;
        border-radius: 40px;
        border-color: var(--borderColorIndexBlock);
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 7%;
    }

    /* - About Me Page - */
    .divAboutBlock {
        border: solid 0.3em;
        border-radius: 40px;
        border-color: var(--borderColorIndexBlock);
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 20%;
    }

    .divAboutBlockA {
        margin-left: 5%;
    }

    .imgIdentity {
        margin-left: 2%;
        width: 30%;
        margin-top: -5%;
        border-radius: 50%;
    }

    .divTableAboutMe1,
    .divTableAboutMe2 {
        border: solid 0.3em;
        border-radius: 40px;
        border-color: var(--borderColorIndexBlock);
        margin-left: 15%;
        margin-right: 15%;
        width: 80%;
    }

    .divTableAboutMe2 {
        margin-top: 3%;
    }
}

@media screen and (max-device-width:375px) {

    /* - Navigation Bar - */
    li a {
        display: block;
        color: var(--liaColor);
        text-align: center;
        padding: 10px 10px;
        text-decoration: none;
        font-size: auto;
    }

    /* - Button Dark Mode - */
    .btn {
        position: fixed;
        top: 7%;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        border: none;
        color: var(--btnFontColor);
        background-color: var(--btnBg);
        margin-left: 85%;
        box-shadow: var(--boxShadowBTN);
    }

    /* - Index Page- */
    .divIndexBlock {
        border: solid 0.3em;
        border-radius: 40px;
        border-color: var(--borderColorIndexBlock);
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 7%;
    }

    /* - About Me Page - */
    .divAboutBlock {
        border: solid 0.3em;
        border-radius: 40px;
        border-color: var(--borderColorIndexBlock);
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 20%;
    }

    .divAboutBlockA {
        margin-left: 5%;
    }

    .imgIdentity {
        margin-left: 2%;
        width: 25%;
        margin-top: -5%;
        border-radius: 50%;
    }

    .divTableAboutMe1,
    .divTableAboutMe2 {
        border: solid 0.3em;
        border-radius: 40px;
        border-color: var(--borderColorIndexBlock);
        margin-left: 3%;
        margin-right: 3%;
        width: 80%;
    }

    .divTableAboutMe2 {
        margin-top: 3%;
    }
}

@media screen and (max-device-width:320px) {

    /* - Navigation Bar - */
    li a {
        display: block;
        color: var(--liaColor);
        text-align: center;
        padding: 6px 6px;
        text-decoration: none;
        font-size: auto;
    }

    /* - Button Dark Mode - */
    .btn {
        position: fixed;
        top: 7%;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        border: none;
        color: var(--btnFontColor);
        background-color: var(--btnBg);
        margin-left: 85%;
        box-shadow: var(--boxShadowBTN);
    }

    /* - Index Page- */
    .divIndexBlock {
        border: solid 0.3em;
        border-radius: 40px;
        border-color: var(--borderColorIndexBlock);
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 7%;
    }

    /* - About Me Page - */
    .divAboutBlock {
        border: solid 0.3em;
        border-radius: 40px;
        border-color: var(--borderColorIndexBlock);
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 20%;
    }

    .divAboutBlockA {
        margin-left: 1%;
    }

    .imgIdentity {
        margin-left: 2%;
        width: 22%;
        margin-top: -5%;
        border-radius: 50%;
    }

    .divTableAboutMe1,
    .divTableAboutMe2 {
        border: solid 0.3em;
        border-radius: 40px;
        border-color: var(--borderColorIndexBlock);
        margin-left: 3%;
        margin-right: 3%;
        width: 80%;
    }

    .divTableAboutMe2 {
        margin-top: 3%;
    }
}