body {
    background: var(--bg);
    color: var(--fontColor);
    font-family: helvetica;
    margin: 0;
}

h1{
    text-align: center;
}


/* - Light and Dark themes - */

:root {
    --blue: rgb(15, 15, 37);
    --white: #FFFFFF;
    --black: #000000;
}

.btn {
    position: absolute;
    top: 1%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
    margin-left: 90%;
}

.light-theme {
    --bg: var(--white);
    --fontColor: var(--black);
    --btnBg: var(--blue);
    --btnFontColor: var(--white);
    --activeBg: var(--white);
    --liaHoverNotActive: whitesmoke;
}

.dark-theme {
    --bg: var(--blue);
    --fontColor: var(--white);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
    --activeBg: var(--blue);
    --liaColor: var(--white);
    --liaHoverNotActive: rgb(28, 28, 70);
}



/* - Navigation Bar - */

.ulMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(126, 126, 126);
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: var(--liaColor);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

li a:hover:not(.active) {
    background-color: var(--liaHoverNotActive);
}

.active {
    background-color: var(--activeBg);
}


/* - About Me Page - */

.imgIdentity{
    margin-left: 27%;
    width: 10%;
    margin-top: 10%;
    border-radius: 50%;
}

.pAboutMe{
    margin-left: 40%;
}